Source: passbutler-server
Maintainer: Bastian Raschke <bastian.raschke@posteo.de>
Section: python
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 9),
               python3,
               dh-virtualenv (>= 1.0),
               python3-setuptools,
               python3-pip,
               python3-dev,
               libffi-dev,
Homepage: https://passbutler.de

Package: passbutler-server
Pre-Depends: dpkg (>= 1.16.1),
             python3 (>= 3.5),
             ${misc:Pre-Depends}
Depends: ${misc:Depends}
Architecture: all
Description: Pass Butler synchronization server
 The Pass Butler server provides the possibility to synchronize passwords 
 between multiple devices.
