Source: passbutler-server
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Section: python
Priority: optional
Standards-Version: 4.0.0
Build-Depends: debhelper (>= 10),
               python3,
               python3-setuptools,
               dh-virtualenv
Homepage: https://passbutler.de

Package: passbutler-server
Pre-Depends: python3,
             ${misc:Pre-Depends}
Depends: ${misc:Depends}
Architecture: all
Description: Pass Butler server for syncing
 Pass Butler server for syncing.
